<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.RecordMapper">

    <select id="listRecord" resultType="com.wms.entity.RecordResult">
        select *
        from (
                 select re.id         as id,
                        g.name        as goods,
                        g2.name       as goodstype,
                        s.name        as storage,
                        uu.name       as userId,
                        au.name       as adminId,
                        g.count       as count,
                        g.remark      as remark,
                        g.create_date as create_date
                 from record re
                          left join goods g on re.goods = g.id
                          left join user au on re.admin_id = au.id
                          left join user uu on re.user_id = uu.id
                          left join storage s on g.storage = s.id
                          left join goodstype g2 on g.goodsType = g2.id
                 where re.goods like CONCAT('%',#{goods},'%')
                   and au.name LIKE  CONCAT('%',#{adminId},'%')
                   and uu.name LIKE  CONCAT('%',#{userId},'%')
                   and g2.name LIKE  CONCAT('%',#{goodsType},'%')
                   and s.name LIKE  CONCAT('%',#{storage},'%')
                 order by re.create_date) as r
        limit #{pageNum},#{pageSize}
    </select>
</mapper>
